*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ddd;
    align-items: center;
}

.name-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.register{
    background-color: #ddd;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
    max-width: 500px;
    height:  650px;
}

.register input{
    width: 400px;
}

.register #user{
    width: 400px;
}

.register .firstname{
    margin: 25px 0 0 0;
}

.register #fnamee{
    width: 400px;
}

.register .lastname{
    margin: 30px 0 0 0;
}

.register .email-add{
    margin: 35px 0 0 0;
}

.register .ph-no{
    margin: 35px 0 0 0;
}

.register .password{
    margin: 40px 0 0 0;
}

.register .confirm-pass{
    margin: 42px 0 0 0;
}

.register .deli-add{
    margin: 44px 0 0 0;
    width: 200px;
}

.register .reg{
    margin: 46px 0 0 0;
    background-color: blue;
    width: 100px;
    border-radius: 50px;
}

