<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay's Shoe Mart</title>
    <link rel="stylesheet" href="../asset/css/style.css">
</head>
<body>
    <nav>
        <h1>Shoe Order System</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="brand.html">Brand</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
        </ul>
    </nav>
    <section class="home">
        <h1>BRAND NEW SHOES</h1>
        <img src="../asset/img/home.jpg" alt="shoe image">
    </section>
    <section class="shoes">
        <h1>Popular Shoes of the Month</h1>
        <p>Easiest way to order your favourite Shoes among these top 6 brand new shoes</p>
        <div class="card-list">
            <a href="#" class="card-item">
                <img src="../asset/img/airmax.png" alt="Card Image">
                <span>Air Max</span>
                <h3>"Soar to new heights in Air Jordan 1s, where style needs elevation every step is a slam dunk sensation."</h3>
                <div class="priceOrderBtn">
                    <h2>$109</h2>
                    <h2 class="orderBtn">Order Now</h2>
                </div>
            </a>
            <a href="#" class="card-item">
                <img src="../asset/img/airforce1.png" alt="Card Image">
                <span>Air Force 1</span>
                <h3>"Feel the rhythm; embrace the flow Curry Flow 10 where precision needs passion, every move, a winning show."</h3>
                <div class="priceOrderBtn">
                    <h2>$109</h2>
                    <h2 class="orderBtn">Order Now</h2>
                </div>
            </a>
            <a href="#" class="card-item">
                <img src="../asset/img/dunklowretro.png" alt="Card Image">
                <span>Dunk Low Retro</span>
                <h3>"Unleash the legend within Kobe 5 Proto where heritage meets innovation, every step echoes victory."</h3>
                <div class="priceOrderBtn">
                    <h2>$109</h2>
                    <h2 class="orderBtn">Order Now</h2>
                </div>
            </a>
            <a href="#" class="card-item">
                <img src="../asset/img/airmax.png" alt="Card Image">
                <span>Air Max</span>
                <h3>"Soar to new heights in Air Jordan 1s, where style needs elevation every step is a slam dunk sensation."</h3>
                <div class="priceOrderBtn">
                    <h2>$109</h2>
                    <h2 class="orderBtn">Order Now</h2>
                </div>
            </a>
            <a href="#" class="card-item">
                <img src="../asset/img/airforce1.png" alt="Card Image">
                <span>Air Force 1</span>
                <h3>"Feel the rhythm; embrace the flow Curry Flow 10 where precision needs passion, every move, a winning show."</h3>
                <div class="priceOrderBtn">
                    <h2>$109</h2>
                    <h2 class="orderBtn">Order Now</h2>
                </div>
            </a>
            <a href="#" class="card-item">
                <img src="../asset/img/dunklowretro.png" alt="Card Image">
                <span>Dunk Low Retro</span>
                <h3>"Unleash the legend within Kobe 5 Proto where heritage meets innovation, every step echoes victory."</h3>
                <div class="priceOrderBtn">
                    <h2>$109</h2>
                    <h2 class="orderBtn">Order Now</h2>
                </div>
            </a>
        </div>
    </section>
</body>
</html>