<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay's Shoe Mart</title>
    <link rel="stylesheet" href="../asset/css/register.css">
</head>
<body>
    <nav>
        <h1>Shoe Order System</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="brand.html">Brand</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
        </ul>
    </nav>
    <section class="home">
        <img src="../asset/img/home.jpg" alt="shoe image">
    </section>

    <div class="center">
        <form class="form">
            <p class="title">Register </p>
            <p class="message">Signup now and get full access to our app. </p>
                <div class="flex">
                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>Firstname</span>
                </label>
        
                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>Lastname</span>
                </label>
            </div>  
            
            <label>
                <input class="input" type="text" placeholder="" required="">
                <span>Phone Number</span>
            </label> 
    
            <label>
                <input class="input" type="text" placeholder="" required="">
                <span>Address</span>
            </label> 
    
            <label>
                <input class="input" type="email" placeholder="" required="">
                <span>Email</span>
            </label> 
                
            <label>
                <input class="input" type="password" placeholder="" required="">
                <span>Password</span>
            </label>
            <label>
                <input class="input" type="password" placeholder="" required="">
                <span>Confirm password</span>
            </label>
            <button class="submit">Submit</button>
            <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
        </form>
    </div>
</body>
</html>